.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px;
}

body {
  height: 100%;
  margin: 0
}

.full {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
}
